QBIT2MQTT_QBIT_URL=https://torrent.example.com
QBIT2MQTT_QBIT_USER=admin
QBIT2MQTT_QBIT_PASSWORD=admin
QBIT2MQTT_NAME=qBitTorrent
QBIT2MQTT_MQTT_HOST=localhost
QBIT2MQTT_MQTT_USER=torrent
QBIT2MQTT_MQTT_PASSWORD=sample